<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.0/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        colors="true"
>
    <php>
        <ini name="error_reporting" value="E_ALL"/>
    </php>
    <testsuites>
        <testsuite name="JsonApi Toolkit Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="_coverage" lowUpperBound="70" highLowerBound="99"/>
        <log type="coverage-text" target="php://stdout" lowUpperBound="70" highLowerBound="99"/>
    </logging>
</phpunit>
